@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.min-boxcontainer {
  margin-top: 5em;
  background-color: rgb(178, 171, 171);
  width: 20em;
  height: 5em;
}
.titleNotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.noteSection {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
button {
  color: blue;
}
