@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.min-boxcontainer {
  margin: 1em auto;
  width: 300px;
  margin-bottom: 10px;
  height: auto;
  padding: 10px;
}
/* Calculate hue dynamically based on note ID */
.min-boxcontainer {
  background-color: hsl(calc(var(--note-id) * 137.508), 70%, 60%);
}

.titleNotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.noteSection {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  display: none;
  /* Initially hide buttons */
}
button {
  color: blue;
  font-size: 20px;
  background-color: transparent; /* Set background color to transparent */
  cursor: pointer;
}
button:hover {
  background-color: rgba(230, 23, 8, 0.1); /* Add a slight hover effect */
}

.note {
  word-wrap: break-word;
}

.shadow {
  box-shadow: 3px 3px 3px 3px rgba(46, 6, 6, 0.1);
}
.min-boxcontainer:hover .noteSection {
  display: flex;
}
