@import url("./utility.css");
@import url("./appstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");

* {
  margin: 0;
  border: 0;
}

body {
}
.header-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(14, 136, 136);
  display: flex;
  justify-content: space-between;
}
.heading {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 20px;
  flex-direction: row;
}
nav ul li {
  margin-right: 10px;
  padding: 10px;
}

.content-area-container {
  margin-top: 20px;
  background-color: rgb(110, 220, 171);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-area-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.text-area1 {
  border-color: rgb(86, 19, 19);
  width: 35em;
  height: 20px;
  resize: none;
  border: 2px solid green;
  border-bottom: none;
  outline: none; /* Remove outline when focused */
}
.text-area2 {
  width: 35em;
  height: 50px;
  resize: none;
  border: 2px solid green;
  border-top: none;
  outline: none; /* Remove outline when focused */
}
.notes-container {
  display: flex;
  flex-wrap: wrap; /* Allow notes to wrap to the next row */
  justify-content: flex-start; /* Align notes to the start of the container */
  gap: 10px; /* Add gap between notes */
}
